.map {
    margin-top: 3em;
    margin-bottom: 5em;
    width: 0%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #eee;
    transition: width 0.2s ease;
}

.hq2 {
    width: 100%;
    height: 700px;
    object-position: top;
    object-fit: cover;
}

svg path {
    stroke: #eee;
    stroke-width: 0.25;
}
.welcome {
    transition: all 0.5s ease;
    margin-top: 2vw;
    text-align: center;
}

.welcome h2 {
    font-size: 3vw;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;;
    transform: translateX(-50px);
}

.welcome h2.show {
    opacity: 1;
    transform: translateX(0);
}

.welcome p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.welcome p.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.centered2 .p1{
    opacity:0;
    visibility: hidden;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.centered2 .p1.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.centered2 .p2{
    opacity:0;
    visibility: hidden;
    transform: translateY(50px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.centered2 .p2.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.centered2 .p3{
    opacity:0;
    visibility: hidden;
    transform: translateY(50px);
    transition: opacity 1.2s ease, transform 1.2s ease;

}

.centered2 .p3.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.mapttl {
    text-align: center;
    margin-top: 4vw;
}

.mapttl h2 {
    font-size: 2vw;
    margin-bottom: 1vw;
}

@media(max-width:800px) {
    circle {
        r: 10;
    }
    .map {
        width: 100%;
    }
    .welcome {
        margin-top: 0;
    }
    .welcome p {
        width: 100%;
        font-size: 0.7em;
    }
    .mapttl h2 {
        font-size: 2em;
    }
    .hq2 {
        height: 300px;
    }
    .centered2 p {
        width:11em!important;
        margin: 0 30px;
        font-size:0.8vw;
    }

    .p3{
        margin-left:2em !important;
    }
    .centered h2{
        margin-top:1em;
    }
    
}

@media(max-width:1000px){
    circle {
        r: 10;
    }
    .map {
        width: 100%;
    }
    .welcome {
        margin-top: 4;
    }
    .welcome p {
        width: 100%;
        font-size: 0.8em;
    }
    .mapttl h2 {
        font-size: 2em;
    }
    .hq2 {
        height: 300px;
    }
    .centered2 p {
        width:10em!important;
        margin: 0 20px;
        font-size:0.8vw;
    }
}

.Germany {
    fill: rgb(55, 54, 56);
    transition: transform 0.3s ease;
    transform-box: fill-box;
    transform-origin: center;
}

.Germany:hover {
    transform: scale(1.2);
    fill: #444141;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Roboto Mono", monospace;
}

header, .content, .footer {
    max-width: 100%;
    overflow: hidden;
}

.abs {
    width: 90% !important;
    position: relative; 
    margin: 0 auto;
}

.numbers {
    max-width: 100%;
    position: relative;
    margin-top: 4vw;
    text-align: center;
    overflow: hidden;
}

.numbers img {
    filter: brightness(40%);
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.numbers .centered {
    max-width: 50%;
    padding: 0;
    margin: 0 auto;
}


.numbers h2 {
    margin-bottom: 40px;
    color: white;
    font-size: 4vw;
    font-weight: 200;
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered2 {
    display: flex;
    flex-direction: row;
    margin-top: 6vw;
    color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered2 p {
    width:300px;
    margin: 0 0.7vw;
    font-size:2vw;
}

.centflex {
    margin-top:0;
    display: flex;
    vertical-align: center;
    flex-direction: row;
}
hr{
    width:4px;
    background:#eee;
    border:none;
}
